html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}
.section-top{
    margin:20px;
}
.product-item{
    height: 360px;
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}
.add-to-card-btn{
  position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
.price-main-page{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
.nvb{
    margin-bottom: 0;
}
.footer{
    margin-bottom: -100px;
    background-color: white;
    height: 200px;
}
.discount-container{
    position: absolute;
    top: 30%;
    background-color: #eb5e58;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}