{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Товары в корзине</h3>
                <h4 class="text-center">Общая стоимсть: {{ request.session.basket.total_amount }} грн </h4>
                {{ request.session.basket.products }}
                <form></form>
                {% for product_in_basket in products_in_basket %}
                    {{ product_in_basket.product.name }}
                    <input value="{{ product_in_basket.nmb }}">
                {% endfor %}
                </form>
            </div>
        </div>
{% endblock %}