{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

</head>
<body>
<h1>Hello {{ name }}</h1>
<div>
    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

</div>

</body>
</html>